.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    max-width: 800px;

}

#rpsBtns {
    display: flex;
    gap: 20px;
    max-width: 800px;
}

button {
    width: 100px;
    text-align: center;
}

#info {
    display: flex;
    justify-content: space-evenly;
    max-width: 800px;
}

#score {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

h1 {
    padding-bottom: 35px;
    border-bottom: 3px dashed black;
    margin-bottom: auto;
}